{% extends 'back/layouts/layout.html.twig' %}

{% block main %}

    <div id="content">

        <div class="container-fluid">

            <div class="d-sm-flex align-items-center justify-content-between my-4">
                <h1 class="h3 mb-0 text-gray-800 mt-4">Commentaries - panel</h1>
            </div>

            <div class="row">

                <div class="col-xl-2 col-md-4 mb-6 my-2">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Nombre de commentaires :
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ comments|length }}</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-regular fa-comment"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-2 col-md-4 mb-6 my-2">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        Commentaires valide
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        {{ numberOfValidatedComments }}
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-solid fa-comment"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 my-4">
                    <table id="comments-datatable" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th>Utilisateur</th>
                                <th>Titre du Post</th>
                                <th>Contenu</th>
                                <th>Date de publication</th>
                                <th>Autoriser/Bloquer</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for comment in comments %}
                            <tr>
                                <td>{{ comment.username }}</td>
                                <td>{{ comment.postTitle }}</td>
                                <td>{{ comment.content }}</td>
                                <td>{{ comment.published_at }}</td>
                                {% if comment.is_validated %}
                                    <td class="text-center">
                                        <a href="/admin-comment-block?{{ comment.comment_id }}"
                                           class="btn bg-danger text-white" style="width: 40px; height: 40px;">
                                            <i class="fa-solid fa-xmark"></i>
                                        </a>
                                    </td>
                                {% else %}
                                    <td class="text-center">
                                        <a href="/admin-comment-validated?{{ comment.comment_id }}"
                                           class="btn bg-success text-white" style="width: 40px; height: 40px;">
                                            <i class="fa-solid fa-check"></i>
                                        </a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="users-back-flash" class="d-none"></div>

    <script src="js/back/pages/comments.js"></script>

{% endblock %}
