{% extends 'back/layouts/layout.html.twig' %}

{% block main %}

    <div id="content">

        <div class="container-fluid">

            <div class="d-sm-flex align-items-center justify-content-between my-4">
                <h1 class="h3 mb-0 text-gray-800 mt-4">Utilisateurs - panel</h1>
            </div>

            <div class="row">

                <div class="col-xl-2 col-md-4 mb-6 my-2">
                    <div class="card border-left-primary shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Nombre d'utilisateur :
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{ users|length }}</div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-solid fa-user-plus"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-2 col-md-4 mb-6 my-2">
                    <div class="card border-left-success shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                        Utilisateur valide
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        {{ availableUsers.numberOf }}
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <i class="fa-solid fa-user-shield"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 my-4">
                    <table id="users-datatable" class="display" style="width:100%">
                        <thead>
                        <tr>
                            <th>Username</th>
                            <th>Login</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Autoriser/Bloquer</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.username }}</td>
                                <td>{{ user.login }}</td>
                                <td>{{ user.email }}</td>
                                <td id="role-{{ user.login }}">{{ user.role.role }}</td>
                                {% if user.role.role == 'ADMIN' %}
                                    <td> </td>
                                {% elseif user.isAvailable %}
                                    <td class="text-center">
                                        <a href="/admin-user-block?{{ user.id }}"
                                           class="btn bg-danger text-white" style="width: 40px; height: 40px;">
                                            <i class="fa-solid fa-xmark"></i>
                                        </a>
                                    </td>
                                {% else %}
                                    <td class="text-center">
                                        <a href="/admin-user-validated?{{ user.id }}"
                                           class="btn bg-success text-white" style="width: 40px; height: 40px;">
                                            <i class="fa-solid fa-check"></i>
                                        </a>
                                    </td>
                                {% endif %}
                                {% if user.role.role == 'ADMIN' %}
                                    <td></td>
                                {% else %}
                                    <td class="text-center">
                                        <button type="button"
                                                class="btn text-primary"
                                                data-bs-toggle="modal"
                                                data-bs-target="#user-modal"
                                                data-bs-username= {{ user.username }}
                                                data-bs-login= {{ user.login }}
                                                data-bs-email= {{ user.email }}
                                                data-bs-role= {{ user.role.id }}
                                        >
                                            <i class="fa-solid fa-pen"></i>
                                        </button>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="user-modal" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel"></h4>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="" class="my-2" id="form-update-role">
                    <div class="modal-body">
                        <div class="d-flex justify-content-between my-2">
                            <div>
                                <label class="form-label">Login</label>
                                <input type="text" class="form-control modal-login" readonly="readonly" name="login"/>
                            </div>
                            <div>
                                <label class="form-label">Username</label>
                                <input type="text" class="form-control modal-username" readonly="readonly" />
                            </div>
                        </div>
                        <div>
                            <label class="form-label">Email</label>
                            <input type="text" class="form-control modal-email" readonly="readonly" />
                        </div>
                        <div>
                            <label class="form-label">Role :</label>
                            <select class="form-control modal-role" id="roleSelector" name="role">
                                {% for role in roles %}
                                    <option value="{{ role.id }}">{{ role.role }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary" id="form-submit-update-role">Enregistrer les modifications</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="users-back-flash" class="d-none"></div>

    <script src="js/back/pages/users.js"></script>

{% endblock %}
