{% macro render_all_posts(post) %}
    <hr class="my-4"/>
    <div class="post-preview">
        <a href="/post?{{ post.post_id }}">
            <h2 class="post-title">{{ post.title }}</h2>
            <h3 class="post-subtitle">{{ post.subtitle }}</h3>
        </a>
        <p class="post-meta">
            Posted by
            <a href="#!">{{ post.user }}</a>
            on August {{ post.date|date("d/m/Y") }}
        </p>
    </div>
{% endmacro %}
